@model EmpMgmtMVCAppCS.Models.Employee

@{
    ViewData["Title"] = "AddEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddEmployee</h1>

<h4>Employee</h4>
<hr />

<form method="post">
    <div calss="row">
        <div>
            <label class="control-label">Employee ID</label>
            <input type="text" id="EmpId" name="EmpId" asp-for="EmpId" class="form-control" />
        </div>
        <div>
            <label class="control-label">Name</label>
            <input type="text" id="Name" name="Name" asp-for="Name" class="form-control" />
        </div>
        <div>
            <label class="control-label">Age</label>
            <input type="text" id="Age" name="Age" asp-for="Age" class="form-control" />
        </div>
        <div>
            <input type="submit" id="submit" name="submit" class="btn btn-primary" />
        </div>
    </div>
</form>

@* <div class="row">
    <div class="col-md-4">
        <form asp-action="AddEmployee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmpId" class="control-label"></label>
                <input asp-for="EmpId" class="form-control" />
                <span asp-validation-for="EmpId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div> *@

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
